<!DOCTYPE HTML>
<html>
	<head>
		<title>SnapMap</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/build/css/style.min.css" />
	</head>
	<body id="top">

    {{{ body }}}

	<script type="text/javascript" src="/build/vendor.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDF31N4W6ZFb00EN0YaxWxIO2sLRLXKZr0"></script>
	<script type="text/javascript" src="/build/bundle.js"></script>

	</body>
</html>
