<!-- React -->
<div id="root"></div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.poptrox.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDF31N4W6ZFb00EN0YaxWxIO2sLRLXKZr0"></script>
<script src="/build/bundle.js"></script>